@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@400;500;600;700;800&display=swap');
:root{
    --color-primary-dark:#1F2025;
    --color-primary-white:#fff;
    --color-text-primary:#fff;
    --color-blue:#205BF1;
    --primary-font: Urbanist;
    --color-dark-light:#ffffff1a;
    --color-dark-extra-light:#ffffff05;
    --color-red-text:#F12052;
}

*{ 
    padding: 0;
    margin: 0;
    font-family: var(--primary-font);
}
header{
    display: flex;
    width: calc(100% - 140px);
    padding: 15px 70px;
    justify-content: space-between;
    position: fixed;
    align-items: center;
    z-index: 20;
    background-color: var(--color-primary-dark);
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
.header_nav{
    display: flex;
    align-items: center;
}
.header_nav > a {
    margin-right: 50px;
}
.header_nav_links{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.header_nav_links a{
    text-decoration: none;
    color: var(--color-text-primary);
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.header_subscribe{
    display: flex;
    align-items: center;
}
.header_subscribe a{
    height: 24px;
    width: 24px;
}

.header_subscribe span{
    width: 1px;
    height: 20px;
    background-color: var(--color-text-primary);
    margin: 0 25px;
    opacity: 0.2;
}
.header_subscribe_login{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-text-primary);
    background:none;
    border: 0;
    margin-right: 40px;
}
.header_subscribe_request{
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-text-primary);
    background:var(--color-blue);
    border: 0;
    margin-right: 40px;
    padding: 15px 20px;
}
main{
    width: 100%;
    /* height: 200vh; */
    background-color: var(--color-primary-dark);
}
.main_background{
    position: absolute;
    width: 75%;
    z-index: 0;
    top: 0;
    right: 0;
}
.presentation_section{
    z-index: 10;
    position: relative;
    padding-top: 120px;
}
.presentation_text{
    display: flex;
    padding-left: 70px;
    width: calc(100%-70px);
}
.presentation_text_content h3{
    font-size: 78px;
    font-weight: 900;
    line-height: normal;
    color:var(--color-text-primary);
    margin-top: 50px;

}
.presentation_text_content p{
    font-size: 20px;
    font-weight: 400;
    line-height: 30px; 
    color:var(--color-text-primary);
    margin: 30px 0;
}
.presentation_text_buttons{
    margin-top: 30px;
    display: flex;
}
.presentation_request_button{
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-text-primary);
    background-color: var(--color-blue);
    padding: 20px 30px;
    border: 0;
    margin-right: 40px;
}

.presentation_watch_button{
    display: flex;
    font-size: 16px;
    color: var(--color-text-primary);
    font-weight: 700;
    line-height: 24px;
    padding: 20px 30px;
    background-color: var(--color-dark-light);
    border: 0;
    align-items: center;
}
.presentation_watch_button img{
    margin-right: 15px;
}
.presentation_image{
    width: 45%;
}
.presentation_sponsors{
    margin: 0 70px;
}
.presentation_sponsors h3{
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
    color: var(--color-text-primary);
    margin-bottom: 40px;
}
.presentation_sponsors_cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.presentation_sponsors_cards div{
    display: flex;
    padding: 25px;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    color: var(--color-text-primary);
    background-color: var(--color-dark-extra-light);
    width: calc(100% / 3 - 70px);
    margin-top: 30px;
}

.presentation_sponsors_cards div img {
    margin-right: 20px;
}
/* ____________________ */

.solution_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 180px;
    position: relative;
}
.panel_control_img{
    z-index: 10;
    width: 90%;
    border: solid 16px var(--color-dark-light);
}
.solution_background {
    position: absolute;
    z-index: 0;
    left: 0;
    top: 400px;
}
.create_layouts_solution{
    z-index: 10;
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px);
    margin-top: 150px;
    align-items: center;
}
.create_layouts_description{
    width: 570px;
}
.create_layouts_description h3{
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-text-primary);
}
.create_layouts_description h2{
    font-size: 46px;
    font-style: normal;
    font-weight: 900;
    color: var(--color-text-primary);
    margin: 25px 0;
}
.create_layouts_description h2 b{
    color: var(--color-red-text);
}
.create_layouts_description p{
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    color: var(--color-text-primary);
}
.create_layouts_img{
    width: 30%;
}
.analytics_solution{
    display: flex;
    justify-content: space-between;
    width: calc(100% - 140px);
    margin-top: 150px;
    align-items: center;
}
.analytics_solution_description{
    width: 370px;
}

.analytics_solution_description h3{
    display: flex;
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-text-primary);
    align-items: center;
    
}
.analytics_solution_description h2{
    font-size: 36px;
    font-style: normal;
    font-weight: 900;
    color: var(--color-text-primary);
    margin: 25px 0;
    line-height: 46px;
}
.analytics_solution_description p{
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-primary);
}
.icon_tabla{
    height: 20px;
    width: 20px;
    background-color: var(--color-red-text);
    padding: 8px;
    margin-right: 16px;
}
.analytics_img{
    border: solid 16px var(--color-dark-light);
    width: 60%;
}
.resource_section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 140px;
}
.resource_key_benefits{
    width: calc(100% - 140px);

}
.resource_key_description h3{
    font-size: 12px;
    font-weight: 900;
    line-height: 16px;
    letter-spacing: 1.2px;
    text-transform: uppercase;
    color: var(--color-text-primary);
}
.resource_key_description h2{
    margin-top: 25px;
    font-size: 46px;
    font-weight: 900;
    color: var(--color-text-primary);
}
.resource_key_description h2 b{
    color: var(--color-blue);
    font-weight: 900;
}
.resource_key_info{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.resource_img{
    width: 40%;
    margin: 0 20px;
}
.resource_key_cards{
    width: 470px;
}
.resource_key_cards div{
    padding: 10px 30px ;

}
.resource_key_card_1{
    border-left: 2px solid var(--color-blue);
}
.resource_key_card_2{
    border-left: 2px solid var(--color-dark-light);
    margin: 30px 0;
}
.resource_key_card_3{
    border-left: 2px solid var(--color-dark-light);
}
.resource_key_cards div h2 {
    margin-bottom: 15px;
    font-size: 20px;
    font-weight: 900;
    line-height: 30px;
    color:var(--color-text-primary);
}
.resource_key_cards div p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color:var(--color-text-primary);
}
.resource_early_access{
    width: 90%;
    background-color: var(--color-dark-light);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 200px 0;
    position: relative;
    text-align: center;
}
.resource_early_access h2{
    font-size: 46px;
    font-weight: 900;
    color: var(--color-text-primary);
    margin-bottom: 25px;
    z-index: 15;
}
.resource_early_access p{
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--color-text-primary);
    margin-bottom: 40px;
    z-index: 15;
}
.resource_early_access button{
    display: flex;
    padding: 20px 20px 20px 30px;
    align-items: center;
    background-color: var(--color-blue);
    border: 0;
    color: var(--color-text-primary);
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px;
    z-index: 15;
}
.resource_background_img{
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
}
button img{
    padding: 4px;
    background-color: var(--color-dark-light);
    margin-left: 30px;
    border: 1px solid var(--color-dark-light);
}











